.imagen-hamburguesa{
  width: 80px;
  height: 80px;
}

.size-carrito{
  width: 24%;
}

.margin-top-6{
  margin-top: 6% !important
}

.margin-top-11{
  margin-top: 11% !important
}

.margin-left-42{
  margin-left: 42% !important
}